{% extends "AppRitmoUrbano/index.html" %}

{% load static %}

{% block contenidoQueCambia %}


<br>   
    <div class="row">
        <div class="col-md-10 offset-md-1">

    <div class="col-xl-3">
        <h5 style="font-family: montserrat extrabold, helvetica neue, open sans, source Sans pro ; color: white">BUSCA UNA CLASE</h5> 

        <form action="resultadoBusqueda" method="POST">{% csrf_token %}

            <input type="text" name="query" required>

            <input style= "font-family: montserrat extrabold, helvetica neue, open sans, source sans pro" class=" col-auto btn btn-primary btn-sg" type="submit" value="Buscar"> 

        </form>
      <br>  <a class=" col-md-8 offset-md-1 btn btn-primary btn-sg" style="font-family: montserrat extrabold, helvetica neue, open sans, source sans pro"
      href="{% url 'Modalidades' %}">MODALIDADES</a>
    </div>
    </div>

</div>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">GUITARRA Clases Individuales</span>  
                        <span class="section-heading-upper">Eléctrica Acústica Ukelele</span>                                              
                    </h2>
                    
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-01b.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Guitarra vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
            </div>
        
    

</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">clases Individuales</span>
                        <span class="section-heading-lower">saxo alto - saxo tenor</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-02b.jpg" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Saxo vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas..</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">clases Individuales</span>
                        <span class="section-heading-lower">Flauta Traversa</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-03b1.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source sans pro">Durante las clases de Faluta Traversa vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Clases Individuales</span>
                        <span class="section-heading-lower">Piano - Teclado - Acordeón</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-04b.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Teclado, Piano o Acordeón vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Clases Individuales</span>
                        <span class="section-heading-lower">Trompeta</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-051.jpg" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Trompeta vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Clases Individuales</span>
                        <span class="section-heading-lower"> Batería – Percusión</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-04c.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Batería vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">clases Individuales</span>
                        <span class="section-heading-lower">Bajo Eléctrico</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-021.jpg" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Bajo vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">clases Individuales</span>
                        <span class="section-heading-lower">Violín&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-03c1.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source sans pro">Durante las clases de Violín vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item ">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">clases Individuales</span>
                        <span class="section-heading-lower">Canto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-02c.jpg" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Durante las clases de Canto vas a aprender y desarrollar técnicas, teoría y todo lo que necesites para poder desarrollar tus habilitadas musicales. Sobre los estilos y repertorio que vos elijas.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Clases Grupales</span>
                        <span class="section-heading-lower">Iniciación Musical</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\ini_mus1.jpg" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Está es una clase grupal para niños de 3 a 6 años. En donde los chicos trabajan como base el canto y la percusión, para que de esa manera el niño logre desenvolverse y expresarse corporalmente. Además de reconocimiento de sonidos, instrumentos, etc. Para que en el futuro sea capaz de elegir que instrumento le gustaría estudiar.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Clases Grupales</span>
                        <span class="section-heading-lower">Audio Perceptiva - Ensamble</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\ensamb_011.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source sans pro">Está es una clase grupal en donde el alumno pondrá en práctica lo aprendido en sus clases individuales y además verá teoría musical, formas musicales, distintos tipos de estilos, entre otras cosas.</p></div>
            </div>
        </div>
    </div>
</section>
{% comment %} <section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">ARTE</span>
                        <span class="section-heading-upper">Arte Visual - Pintura Artística - Taller de Mosaiquismo - Talleres Alternativos</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\mosa.png" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-family: montserrat, helvetica neue, open sans, source Sans pro">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p></div>
            </div>
        </div>
    </div>
</section> {% endcomment %}


{% endblock %}